* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 50vw;
  height: 55vh;
  padding: 1rem;
  /* background-color: cornflowerblue; */
  display: flex;
}

.box1,
.box2 {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
}
